@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  color-scheme: light;
  background-color: #FBF9F7;
}

/* Tiptap editor list styles (if needed) */
.tiptap ul, .ProseMirror ul {
  list-style-type: disc;
  @apply ml-6;
}
.tiptap ol, .ProseMirror ol {
  list-style-type: decimal;
  @apply ml-6;
}
.tiptap li, .ProseMirror li {
  @apply mb-1;
}
